@{
    Layout = null;
    Response.StatusCode = 404;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error 404.</h1>
        <h2>NOT FOUND</h2>
    </hgroup>
</body>
</html>